*{
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    
}

header{
  text-align: center;
}

.form-login{
    max-width: 600px;
    text-align: center;
    margin: auto;
    font-size: 1.3rem;

}

.form-login input{
    margin: 10px 0px;
    font-size: 1.3rem;
}


/* esto es para el menu */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  font-size: 1.2rem;
  
  
}

nav ul li{
  display:inline-block;
}


a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

a.menu2 {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.menu:hover {
  background-color: blue;
}

a.menu2:hover {
  background-color: blue;
  
}

/*fin del menu*/


/*tabla*/
.tabla {
  border-collapse: collapse;
  margin: auto;
}

.tabla td{
    padding: 10px;
}


/* para la leyenda */
.leyenda {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

/* Colores de la leyenda */
.fondo-verde {
    background-color: #4CAF50; /* verde */
}

.fondo-rojo {
    background-color: #f44336; /* rojo */
}
/*fin leyenda*/



.form-actualizar {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Arial, sans-serif;
}

.form-actualizar input,
.form-actualizar textarea,
.form-actualizar select {
    padding: 8px;
    font-size: 15px;
    width: 100%;
}

.form-actualizar button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.error-mensaje {
  font-size: 2rem;
  text-align: center;
  color: orange;
  background-color: black;
  max-width: 450px;
  margin: 20px auto;
}

.centrado{
  text-align: center;
}