@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
h1{
    font-weight: bold;
}
nav{
    background-color: black;
    padding: 1rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
